useDynLib(uniSolve)

importFrom(Rcpp, evalCpp)

export(tf.norm)
export(tf_one)
export(solve.prox.tf)

export(predict.tf)

export(sobolev.norm)
export(predict.sobolev)

export(solve.prox)
export(cpp_solve_prox)
export(cpp_spp_one)
